body{
    font-size: 20px;
    font-family: cursive;
}
h1 {
    background-color: #FF7F50;
}
p {
    background-color: #8FBC8F;
}
.cor1{
    background-color: #40E0D0;
}
.cor2 {
    background-color: #FF6347;
}
.cor3 {
    background-color: #6495ED;
}