.container1 {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 70px;

}

.container2 {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 70px;
}

.container3 {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90px;
    margin: 10px 0;
}

.container4 {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: 90px;
    margin: 10px 0;
}
div {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.box01 {
    background-color: blueviolet;
}

.box02{
    background-color: cornflowerblue;
}

.box03{
    background-color: crimson;
}